$css-prefix: xs-grid-table;
.#{$css-prefix} {
    width: 100%;
    position: relative;
}
.#{$css-prefix}-main {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    // overflow: hidden;

    &.border {
        border-right: 1px solid #e1e6eb;
        border-bottom: 1px solid #e1e6eb;
    }
}
.#{$css-prefix}-table {
    text-rendering: auto;
    user-select: none;
    position: relative;
    left: 0px;
    top: 0px;
    cursor: default;
}
.#{$css-prefix}-overlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.#{$css-prefix}-poptip, .#{$css-prefix}-dropdown {
    position: absolute;
    top: -10000px;
    text-align: left;
    // line-height: 0;
    z-index: 100;
    // overflow: hidden;
    background-color: transparent;
    // border: 2px solid rgb(82,146,247);
    box-sizing: border-box;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
    pointer-events: auto;

    .arrow, .arrow::after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 6px;
    }
    .arrow::after {
        content: " ";
    }
}
.#{$css-prefix}-poptip {
    left: -10000px;
    .popper {
        position: relative;
        padding: 12px;
        width: 350px;
        background-color: #fff;
        border: 1px solid #ebeef5;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        .popper-arrow {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;

            border-width: 6px;
            border-right-color: #ebeef5;
            border-left-width: 0;
            top: 50%;
            left: -6px;

            &::after {
                bottom: -6px;
                left: 1px;
                border-right-color: #fff;
                border-left-width: 0;
            }
        }
    }
}
.#{$css-prefix}-dropdown {
    right: 0;
    .dropdown-menu {
        position: relative;
        padding: 10px 0;
        margin: 5px 0;
        background-color: #fff;
        border: 1px solid #ebeef5;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        > li {
            list-style: none;
            line-height: 36px;
            padding: 0 20px;
            margin: 0;
            font-size: 14px;
            color: #606266;
            cursor: pointer;
            outline: none;
            &:hover {
                background-color: #f5f7fa;
            }
        }
        .dropdown-arrow {
            border-top-width: 0;
            border-bottom-color: #ebeef5;
            top: -6px;
            right: 12px;

            &::after {
                top: 1px;
                margin-left: -6px;
                border-top-width: 0;
                border-bottom-color: #fff;
            }
        }
    }
}
.#{$css-prefix}-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}
.#{$css-prefix}-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    z-index: 9998;
    overflow: hidden;
}
.#{$css-prefix}-loading-dot {
    display: block;
    margin: 0 auto;
    background: #0bb27a;
    border-radius: 50%;
    animation: spin-dot 1s ease-in-out infinite;
    width: 20px;
    height: 20px;
}
.operateIcon {
    display: inline-flex;
    position: relative;
    top: -2px;

    > span {
        width: 4px;
        height: 4px;
        background: #0bb27a;
        border-radius: 50%;
        margin: 0 2px;
        display: inline-block;
    }
}

@keyframes spin-dot {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}